<!-- DEV測試用 -->
<div
  id="devPanel"
  class="accordion"
  x-id="['accordion']"
  :hide="hide"
  :direction="direction"
  :draggable="direction === 'drag'"
  :class="mcssLiteral.toLine({
    '': 'z:devPanel p:0x|1x fg:theme bg:theme-fg shadow:0|0|10|B-50/.1 hide@<sm',
    'transition': '~opacity|.2s opacity:.8 opacity:1:hover {opacity:0!;untouchable!}[hide]',
    '[window]': mcssLiteral.toLine({
      '': 'z:0 block! rel! opacity:1 shadow:none',
      '_#devPanel-switch': 'hide',
      '_#devPanel-content': 'min-h:0 max-h:unset',
      '>.accordion-content': 'accordion-content--open',
    }),
    '[direction=drag]': mcssLiteral.toLine({
      '': 'abs-center w:80vw cursor:move! r:1x p:1x|2x shadow:lg',
    }),
    '[direction=bottom]': mcssLiteral.toLine({
      '': 'fixed w:full top:unset! left:0! right:0! bottom:0!',
      '_#devPanel-content': 'max-h:40vh',
    }),
    '[direction=left]': mcssLiteral.toLine({
      '': 'fixed w:30vw max-w:600 h:100vh top:0! left:0! right:unset!',
    }),
    '[direction=right]': mcssLiteral.toLine({
      '': 'fixed w:30vw max-w:600 h:100vh top:0! left:unset! right:0!',
    }),
  })"
  x-data="{
    ...draggableData(),
    open: false,
    hide: false,
    direction:'bottom',
  }"
  @mousedown.prevent.stop="direction === 'drag' && startDrag"
  @keyup.alt.slash.window="hide = !hide"
  @contextmenu.prevent
>
  <input type="checkbox" :id="$id('accordion')" x-model="open" />
  <label :for="$id('accordion')">
    <!-- devPanel-switch -->
    <div id="devPanel-switch" class="rel pointer flex ai:center jc:space-between flex:1>div">
      <div class="flex ai:center gap:2x">
        <tk-button shape="circle" icon="radix-icons:external-link" type="flat" @click.stop="$store.dev.open"></tk-button>
        <tk-button-group ratio :value="direction" @change="direction=$event.detail.value" class="{fg:theme-fg;bg:theme}>*[checked]">
          <tk-button value="drag" icon="material-symbols:drag-pan-rounded"></tk-button>
          <tk-button value="left" icon="carbon:open-panel-filled-left"></tk-button>
          <tk-button value="bottom" icon="carbon:open-panel-filled-bottom"></tk-button>
          <tk-button value="right" icon="carbon:open-panel-filled-right"></tk-button>
        </tk-button-group>
      </div>
      <div class="flex center-content">
        <span>儀錶板</span>
        <tk-icon type="arrow" :flag="0"></tk-icon>
      </div>
      <div class="t:right">
        <tk-checkbox class="~opacity|.2s opacity:.3 opacity:1:hover" :checked="hide" @change="hide=$event.detail.checked">
          <div>隱藏：<kbd>alt</kbd>+<kbd>/</kbd></div>
        </tk-checkbox>
      </div>
    </div>
    <!-- devPanel-content -->
  </label>
  <div class="accordion-content">
    <div class="min-h:0">
      <div id="devPanel-content" class="overflow:auto scrollbar">
        <div class="grid-cols:1 grid-cols:3@xs">
          <section>
            <div class="accordion" x-id="['accordion']">
              <input type="checkbox" :id="$id('accordion')" checked />
              <label class="subject" :for="$id('accordion')">
                <div class="flex center-content">
                  <span>section-settings</span>
                  <tk-icon type="arrow" :flag="0"></tk-icon>
                </div>
              </label>
              <div class="accordion-content">
                <div class="min-h:0">
                  <template x-for="section in Object.keys($store.alpineHost.sections)" :key="section">
                    <div class="field">
                      <p>
                        <span x-text="section"></span>
                        <tk-checkbox-group>
                          <tk-checkbox :checked="$store.alpineHost.sections[section].open" @change="$store.alpineHost.sections[section].open=$event.detail.checked">open</tk-checkbox>
                          <tk-checkbox :checked="$store.alpineHost.sections[section].hide" @change="$store.alpineHost.sections[section].hide=$event.detail.checked">hide</tk-checkbox>
                        </tk-checkbox-group>
                      </p>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </section>
          <section class="grid-col-span:2">
            <div class="accordion" x-id="['accordion']">
              <input type="checkbox" :id="$id('accordion')" checked />
              <label class="subject" :for="$id('accordion')">
                <div class="flex center-content">
                  <span>color-settings</span>
                  <tk-icon type="arrow" :flag="0"></tk-icon>
                </div>
              </label>
              <div class="accordion-content">
                <div class="min-h:0" x-init="$nextTick(() => {window.ajaxUtil.getTemplate($el, window.ajaxUtil.url.domain + '/contents/color.html')})"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
