<!-- DEV測試用 -->
<div
  id="devPanel"
  x-data="{ show: false, open: true }"
  :hide="!show"
  :open="open"
  :class="Object.values({
    'main': 'hide[hide] z:devPanel fixed! left:0 bottom:0 w:full bg:bg shadow:0|0|10|B-50/.1 ~opacity|.2s opacity:.5 opacity:0.9[open] opacity:1:hover',
    'window': '{block!;rel!;shadow:none}[window] {min-h:0;max-h:unset}[window]_#devPanel-content',
  }).join(' ')"
  @keyup.alt.slash.window="show = !show"
  class="accordion"
  x-id="['accordion']"
>
  <input type="checkbox" :id="$id('accordion')" checked />
  <label :for="$id('accordion')">
    <!-- devPanel-switch -->
    <div id="devPanel-switch" class="p:1x t:center pointer" @click="open=!open">
      <div class="flex center-content">
        <span>儀錶板</span>
        <tk-icon type="arrow" :flag="0"></tk-icon>
      </div>
      <div class="abs top:0 right:0 p:1x bg:G-20 f:bold fg:danger">
        <span>DEV測試用 (alt+/)</span>
      </div>
    </div>
    <!-- devPanel-content -->
  </label>

  <div class="accordion-content">
    <div id="devPanel-content" class="max-h:40vh overflow:auto scrollbar">
      <div class="grid-cols:1 grid-cols:3@xs {p:1x}>section">
        <section>
          <div class="text:center">section-settings</div>
          <template x-for="section in Object.keys($store.alpineHost.sections)" :key="section">
            <div class="field">
              <p>
                <span x-text="section"></span>
                <tk-checkbox-group>
                  <tk-checkbox :checked="$store.alpineHost.sections[section].open" @change="$store.alpineHost.sections[section].open=$event.detail.checked">open</tk-checkbox>
                  <tk-checkbox :checked="$store.alpineHost.sections[section].hide" @change="$store.alpineHost.sections[section].hide=$event.detail.checked">hide</tk-checkbox>
                </tk-checkbox-group>
              </p>
            </div>
          </template>
        </section>
        <section>
          <div class="text:center">設定2</div>
        </section>
        <section>
          <div class="text:center">設定3</div>
        </section>
      </div>
    </div>
  </div>
</div>
