<!DOCTYPE html>
<html lang="zh-Hant-TW" style="display: none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEV測試用</title>

    <!-- Utils -->
    <script defer src="../../@utils/obj.js"></script>
    <script defer src="../../@utils/ajax.js"></script>
    <script defer src="../../@utils/process.js"></script>
    <script defer src="../../@utils/anchor.js"></script>

    <!-- MasterCSS -->
    <!--<script src="https://cdn.jsdelivr.net/npm/@master/css@2.0.0-beta.149/dist/index.browser.js"></script>-->
    <script defer src="../../@master/helpers.js"></script>
    <script defer src="../../@master/config.js"></script>
    <link rel="modulepreload" href="https://cdn.jsdelivr.net/npm/@master/css@2.0.0-beta.149/dist/index.mjs" />
    <script type="module">
      import MasterCSS, { Theme } from 'https://cdn.jsdelivr.net/npm/@master/css@2.0.0-beta.149/dist/index.mjs';
      window.masterTheme = new MasterTheme(Theme);
      window.masterCSSConfig = window.objUtil.merge(window.masterCSSConfig, {
        colors: {},
      });
      window.masterCSS = new MasterCSS(window.masterCSSConfig);
    </script>

    <!-- UI -->
    <script defer type="module" src="../../@ui/index.js"></script>
    <style id="FIX_UI_FOUC">
      :not(:defined) {
        display: inline-block;
        height: 100vh;
        opacity: 0;
        transition: opacity 0.2s ease-out;
      }
    </style>

    <!-- Iconify Icon -->
    <script defer src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

    <!-- Alpine Js -->
    <script defer src="../index.js" version="3.12.0" plugins="mask,collapse"></script>
    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.store('alpineHost', opener.alpineHost);
        setInterval(() => {
          Alpine.store('alpineHost', opener.alpineHost.$data);
        }, 500);
      });
      window.AlpineInitQueue = [
        () => {
          const app = document.getElementById('app');
          window.ajaxUtil.getTemplate(app, opener.devPanelUrl, () => {
            let content = document.getElementById('devPanel');
            content.setAttribute('window', '');
          });
        },
      ];
    </script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet" />
    <style>
      :root {
        --font: 'Inter', 'Noto Sans TC', sans-serif;
      }
    </style>
    <!-- Styles -->
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        min-height: 100%;
        width: 100%;
      }
      #app {
        transition: opacity 0.2s ease-out;
      }
      [x-cloak] {
        opacity: 0;
      }
    </style>
  </head>
  <body class="normal" x-data :class="$store.darkMode.on && 'dark'">
    <!-- header -->
    <header
      class="header header--fixed flex ai:center {opacity:.8;shadow:md}.header--fade"
      x-data="{
        transparentBar: function(){
          var st = window.scrollY || window.pageYOffset;
          this.$el.classList.toggle('header--fade', st > 50)
        }
      }"
      @scroll.window="transparentBar"
    >
      <div class="container w:full py:0 flex flex:wrap ai:center jc:space-between">
        <p class="fg:theme-fg">儀表板</p>
        <tk-theme class="@click.stop" @theme="window.TkMessage.success('theme: ' + $event.detail.current)"></tk-theme>
      </div>
    </header>
    <div id="app" x-cloak></div>
  </body>
</html>
